extends layout.pug

block content
  .section#about
    h1 About
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque asperiores adipisci alias quod, praesentium nesciunt odio! Tempora officia impedit nesciunt a ad rem, numquam minima aliquid! Odio possimus rerum veniam.

