extends layout.pug

block content
  .section#contact
    h1 Contact
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolore quis dolorum odio, inventore fugit! Nostrum, quos. Quam possimus optio, dolores. Dolore fuga nemo magni numquam mollitia, nam modi suscipit.
