extends layout.pug

block content
  .section#home
    h1 Home
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quo magni at rerum consequuntur, perferendis eius, harum id unde impedit sint iusto? Cupiditate eius cumque tenetur maiores ab quae nemo!
